@media (min-width: 768px) and (max-width: 1024px) {

#hero-area .btn{margin-top: 15px;}

  .nav > li > a {
    padding: 12px 8px;
    line-height: 21px;
  }
  .social-links{padding-top: 15px;}
}

@media (min-width: 275px) and (max-width: 780px) {
  #hero-area .btn{margin-top: 15px;}
  .navbar-default{background: rgba(0, 0, 0, 0.8);}
  .social-links{padding-top: 15px;}
  .row {padding: 40px 0px;}

}

/*Media query title and subtitle sections*/

/*`subtitle 0*/
@media(min-width: 991px) and (min-width: 1023px){
	.title0{
		font-size: 30px;
		text-align: center;
		text-align: justify;	
	}
}

@media(min-width: 275px) and (max-width: 990px){
	.title0{
		font-size: 18px;
		text-align: center;
		text-align: center;	
	}
}

/*----*/

/*Query title que hacemos*/
@media(min-width: 275px){
	.subtitleMobil{
		font-size: 18px;
		text-align: center;	
	}
}

@media(min-width: 700px) and (min-width: 1023px) {
	.subtitleMobil{
		font-size: 25px;
		text-align: justify;
		margin-bottom: 15px;
	}
}

/*End query title que hacemos*/

@media(min-width: 275px){
	.subtitleMobil2{
		font-size: 22px;
	}
}

@media(min-width: 275px){
	.title2{
		font-size: 38px;
	}
}

@media(min-width: 275px){
	.title3{
		font-size: 25px;
	}
}

/*label form aling center*/
@media(min-width: 275px) and (max-width: 700px){
	.alingForm{
		text-align: center;	
	}

	.imgTeam{
		display: none;
	}
}

/*Button Share RS*/

@media(min-width: 275px) and (max-width: 700px) {

	.desktop{
		display:none;
	}
	.shareMobil{
		display: inline;
		padding-left: 20px;
	}
}


@media(min-width: 699px) and (max-width: 1080px){
	.shareMobil{
		display: none;
	}
	.desktop{
		display: inline;
	}

	.imgTeam{
		display: none;
	}
}

@media(min-width: 1081px){
	.shareMobil{
		display: none;
	}
}